<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="restablecerContrasena()">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">
      RESTABLECER
    </ion-button>
  </form>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button routerLink="/login">Regresar a Login</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>

