<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <ion-segment [(ngModel)]="authType" value="login">
    <ion-segment-button value="login">
      Iniciar Sesión
    </ion-segment-button>
    <ion-segment-button value="register">
      Crear Cuenta
    </ion-segment-button>
  </ion-segment>

  
  <form *ngIf="authType === 'login'" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="loginData.username" name="loginUsername" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [type]="passwordTypeLogin" [(ngModel)]="loginData.password" name="loginPassword" required></ion-input>
      <ion-icon [name]="passwordIconLogin" slot="end" (click)="togglePassword('login')"></ion-icon>
    </ion-item>

    <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
    <ion-button expand="full" color="light" routerLink="/restablecer">¿Olvidaste tu contraseña?</ion-button>
  </form>

  
  <form *ngIf="authType === 'register'" (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="registerData.username" name="registerUsername" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [type]="passwordTypeRegister" [(ngModel)]="registerData.password" name="registerPassword" required></ion-input>
      <ion-icon [name]="passwordIconRegister" slot="end" (click)="togglePassword('register')"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input [type]="passwordTypeConfirm" [(ngModel)]="registerData.confirmPassword" name="confirmPassword" required></ion-input>
      <ion-icon [name]="passwordIconConfirm" slot="end" (click)="togglePassword('confirm')"></ion-icon>
    </ion-item>

    <ion-button expand="full" type="submit">Crear Cuenta</ion-button>
  </form>
</ion-content>



