.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
  
  .login-container {
    width: 90%; 
    max-width: 400px; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    background: black; 
  }
  
  .login-button,
  .reset-button {
    margin-top: 10px;
  }
  