.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  background-color: #f0f0f5; 
}

.welcome-container {
  text-align: center;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color: white; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.qr-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

img {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc; 
}
