<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <div class="welcome-container">
    <h1>¡Bienvenido a la App!</h1>
    <p>Esta es tu página de inicio. Explora las funcionalidades y disfruta de la experiencia.</p>
    
    <ion-button expand="full" class="explore-button">
      Iniciar Sesion
    </ion-button>
    
    <ion-button expand="full" color="light" class="logout-button">
      QR
    </ion-button>
  </div>
</ion-content>
