<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center login-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido principal del login -->
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome Back</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input
          placeholder="Email"
          type="email"
          class="ion-margin-bottom"
        ></ion-input>
        <ion-input
          placeholder="Password"
          type="password"
          class="ion-margin-bottom"
        ></ion-input>
        <ion-button expand="block">Sign In</ion-button>
        <ion-button expand="block" fill="outline">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
